/* You can add global styles to this file, and also import other style files */
html {
  // lets 1 rem === 10px;
  font-size: 62.5%;
  background-color: #131019;
}

body {
  background-color: #131019;
  margin: 0;
  padding: 0;
}

