<div class="container">
  <h1>What’s up, friends?!</h1>
  <p>
    Let us introduce our selves, there's Sol <em>(the nerd)</em>, Turbo_Tron <em>(the jokester)</em> and DangerDrake <em>(The Hipster)</em>.
  </p>

  <p>
    We’re just Normal Dudes. We’re not trying to get famous and buy matching lambos — Well, one of us is, but the rest of us just love hanging out and playing video games!
  </p>

  <p>
    So if you like explosions, zombies, and grown men screaming like small children; then you've arrived at the right place. If that's not your thing, GET OUT! But, either way, Come hang out!
  </p>
</div>

